import('mvtnorm')

importFrom('adehabitatLT', 'dchi')

importFrom("stats", "integrate", "uniroot")
importFrom("graphics", "axis", "plot", "points", "text")
importFrom("stats", "var")

export('MNCC', 'MNCC.data', 'get.cc')
